<link rel="stylesheet" type="text/css" href="css/weather.css">

<body>
    <div class="wrapper">
        <div id="search">
            <input type="text" id="mapSearch" placeholder="Enter A Place">    
        </div>

        <div id="map-canvas"></div>

        <div id="btnBack" >
            <a href="index.html"><input type="submit" value="Back" ></a>
        </div>   
    </div>
    
</body>

<footer class="site-footer">
        <div class="attribution site-footer-section">Find Me Everywhere! @CStefanus <a href="http://openweathermap.org/"></a>
        </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHt_LKx4uELG8yB5W8MogtQwF2Mcw-B_U&libraries=places" type="text/javascript">
</script>

<script>
     google.maps.event.addDomListener(window, 'load', initialize);

        /* -----         Loads the map once the page is loaded   ------- */

        function initialize() {
            var map = new google.maps.Map(document.getElementById("map-canvas"), {
                center: {
                    lat: 13.796050,
                    lng: 100.323776
                },
                zoom: 12
            });

            var marker = new google.maps.Marker({
                position: {
                    lat: 13.796050,
                    lng: 100.323776
                },
                map: map,
                draggable: true
            });


            var searchBox = new google.maps.places.SearchBox(document.getElementById('mapSearch'));

            google.maps.event.addDomListener(searchBox, 'places_changed', function() {
                    var places = searchBox.getPlaces();
                    var bounds = new google.maps.LatLngBounds();
                    var i, place;

                    for (i = 0; place = places[i]; i++) {
                        bounds.extend(place.geometry.location);
                        marker.setPosition(place.geometry.location);
                    }
                    map.fitBounds(bounds);
                    map.setZoom(15);
                })

        }﻿
</script>
